//npm.pkg.github.com/:_authToken=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
npm.pkg.github.com/:_authToken=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
@vasilistotskas:registry=https://npm.pkg.github.com
auto-install-peers=true
strict-peer-dependencie=false